@charset "UTF-8";
@import "../config/variable";
@import "../config/mixin";

/*
--------------------------------------------
Header Style
--------------------------------------------
2019/04/17
--------------------------------------------
*/

.box_header {
  background: $header-bg;
  color: $header-txt;
  min-width: 1000px;

  header {
    display: flex;
    align-items: center;

    width: 1000px;
    margin: 0 auto;

    h1 {
      justify-content: start;
      margin: 0;
      padding: 20px;
      font-size: 28px;

      a {
        color: $body-bg;
        text-decoration: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        cursor: pointer;
      }

      &.main {
        display: flex;
        align-self: stretch;

        margin-left: auto;

        > li {
          position: relative;
          display: inline-flex;
          align-items: center;

          padding: 20px;

          transition: .3s linear;

          &:hover {
            background: $header-txt;
            color: $header-bg;
          }
        }
      }

      &.sub {
        position: absolute;
        //display: none;

        margin: 0;
        padding: 0;

        left: 0;
        top: 0;
        z-index: 10;

        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);

        // Menu effects
        @include transition(.3s);

        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;

        &.show {
          visibility: visible;
          opacity: 1;

          // Change height according to the number of menu
          max-height: 300px;
        }

        li {
          display: block;

          background: $header-bg;
          color: $header-txt;

          padding: 20px;
          width: 200px;

          &:hover {
            background: $header-txt;
            color: $header-bg;
          }
        }
      }
    }
  }
}


// Tablet, Smartphone
@media screen and (max-width: $max-width) {
  .box_header {
    min-width: auto;

    header {
      display: initial;
      width: auto;

      h1 {
        border-bottom: 1px solid $body-bg;
        font-size: 24px;
        text-align: center;
      }

      ul {
        font-size: 14px;

        &.main {
          display: block;

          > li {
            display: inline-block;
            width: 50%;

            border-right: 1px solid $body-bg;
            border-bottom: 1px solid $body-bg;

            &:nth-child(2n) {
              border-right: none;
            }
          }
        }

        &.sub {
          width: 100%;

          > li {
            width: auto;
          }
        }
      }
    }
  }
}