@charset "UTF-8";
@import "../config/variable";
@import "../config/mixin";

/*
--------------------------------------------
Header Style
--------------------------------------------
2019/04/17
--------------------------------------------
*/

.box_header {
  background: $header-bg;
  color: $header-txt;

  header {
    display: flex;
    align-items: center;

    width: 1000px;
    margin: 0 auto;

    h1 {
      justify-content: start;
      margin: 0;
      padding: 20px;
      font-size: 28px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        cursor: pointer;
      }

      &.main {
        display: flex;
        align-self: stretch;

        margin-left: auto;

        > li {
          position: relative;
          display: inline-flex;
          align-items: center;

          padding: 20px;

          transition: .3s linear;

          &:hover {
            background: $header-txt;
            color: $header-bg;
          }
        }
      }

      &.sub {
        position: absolute;
        //display: none;

        margin: 0;
        padding: 0;

        left: 0;
        top: 0;
        z-index: 10;

        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);

        // Menu effects
        @include transition(.3s);

        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;

        &.show {
          visibility: visible;
          opacity: 1;

          // Change height according to the number of menu
          max-height: 300px;
        }

        li {
          display: block;

          background: $header-bg;
          color: $header-txt;

          padding: 20px;
          width: 200px;

          &:hover {
            background: $header-txt;
            color: $header-bg;
          }
        }
      }
    }
  }
}