@charset "UTF-8";
@import "./config/variable";
@import "./config/mixin";

// App container
.App {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Header
  // see ./Header.scss


  // Contents
  .box_main {
    flex: 1;

    article {
      width: 1000px;

      margin: 0 auto;
      padding: 20px;

      section {
        h2 {
          font-size: 24px;
        }

        .photo {
          float: right;
          width: 350px;
          margin: 0 0 20px 20px;

          img {
            width: 100%;
          }

          p.caption {
            font-size: 11px;
            margin: 0;
          }
        }

        p {
          margin: 1em 0;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }

  // Footer
  .box_footer {
    background: $footer-bg;
    color: #fff;

    footer {
      width: 1000px;

      margin: 0 auto;
      padding: 20px;

      p {
        font-size: 12px;
        line-height: 100%;
      }
    }
  }
}
