@charset "UTF-8";
@import "./config/variable";
@import "./config/mixin";


// App container
// Wrapper
.App {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Header
  // see ./Header.scss


  // Contents
  .box_main {
    flex: 1;
    min-width: 1000px;

    article {
      width: 1000px;

      margin: 0 auto;
      padding: 20px;

      section {
        h2 {
          font-size: 24px;
        }

        .photo {
          float: right;
          width: 350px;
          margin: 0 0 20px 20px;

          img {
            width: 100%;
          }

          p.caption {
            font-size: 11px;
            margin: 0;
          }
        }

        p {
          margin: 1em 0;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }

  // Footer
  .box_footer {
    background: $footer-bg;
    color: #fff;
    min-width: 1000px;

    footer {
      width: 1000px;

      margin: 0 auto;
      padding: 20px;

      p {
        font-size: 12px;
        line-height: 100%;
      }
    }
  }
}


// Tablet, Smartphone
@media screen and (max-width: $max-width) {
  .App {
    // Main
    .box_main {
      min-width: auto;

      article {
        width: auto;

        section {
          h2 {
            font-size: 22px;
            margin: 0;
          }

          .photo {
            float: none;
            margin: 20px 0;
            width: auto;
          }

          p {
            font-size: 14px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    // Footer
    .box_footer {
      min-width: auto;

      footer {
        text-align: center;
        width: auto;

        p {
          font-size: 11px;
        }
      }
    }
  }
}
