@charset "UTF-8";
@import "./config/variable";
@import "./config/mixin";

/*
--------------------------------------------
Base style
--------------------------------------------
2019/04/16
--------------------------------------------
*/

* {
  font-family: "Helvetica Neue", Arial, 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  line-height: 100%;
}

body {
  background: $body-bg;
  color: #555;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


// Clearfix
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}